@import "./reset-css.css";
@import "./loader.css";
@import "./ripple.css";

/* ========== Genereal Styke =========== */

html, body, main {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Lato", sans-serif;
}

*{
    box-sizing: border-box;
    user-select: none;
}

main{
    background-image: url("../img/bg-images/clear-day.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

/* ========== Genereal Used Classes =========== */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.center-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.display-none {
    display: none;
}

.icon-sm-25{
    width: 25px;
}

.icon-sm-28{
    width: 28px;
}

.icon-sm-30{
    width: 30px;
}

.flex-container{
    display: flex;
    width: 100%;
}

.flex-container > *{
    flex: 1 1 0;
}

/* ========== Menu btn =========== */

#open-menu-btn{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
}

/* ========== Current day Weather Container =========== */


#current-day-weather-container{
    width: 100%;
    height: 60%;
    position: relative;
    color: #fff;
    padding: 80px 30px 20px 30px;
}

.location-label {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 50px;
    letter-spacing: 1.3px;
}

#temperature-summary-container{
    align-items: center;
}

#temperature-summary-container>div:nth-child(2){
    text-align: center;
}

#degrees-label{
    font-size: 60px;
    font-weight: 900;
}

#summary-label{
    font-size: 30px;
}

#humidity-wind-container{
    position: absolute;
    bottom: 30px;
    text-align: center;
    left: 0;
}

#humidity-wind-container>div img {
    vertical-align: middle;
    position: relative;
    top: -3px;
}
    
#humidity-wind-container>div span {
    font-size: 18px;
}

/* ========== Lower-Panel =========== */

.lower-panel {
    width: 100%;
    height: 40%;
    position: relative; 
    color: #fff;
    font-size: 20px;
}

.lower-panel-body{
    width: 100%;
    height: 100%;
    padding: 50px 25px;
    overflow-y: scroll;
}

#toggle-hourly-weather {
    background-color: #353B48;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow: 3px 0 14px rgba(000, 000, 000, 0.4);
    z-index: 1000;
    position: absolute;
    transform: translate(-50%, -50%);
}

.weather-box {
    position: relative;
    margin-bottom: 15px;
}

.weather-box > div:last-child {
    text-align: right;
}

.weather-box > div:last-child > div:last-child {
    flex: 0.5 0.5 0;
}

.current-day-of-week::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    left: -15px;
    top: calc(50% - 5px);
    transform: translateY(-50%);
}

/* ========== Dayly Weather =========== */

#daily-weather-wrapper{
    background-color: rgba(000, 000, 000, 0.6);
}


/* ========== Hourly Weather =========== */

#hourly-weather-wrapper{
    background-color: rgba(236, 240, 241, 0.6);
    color: #353B48;
    bottom: -100%;
    position: absolute;
    transition: bottom 0.5s;
}

#hourly-weather-wrapper>div>div:last-child{
    color: #636E72;
}

